*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 5.625rem;
    font-weight: 600;
    font-size: 2.5rem;
    color: black;
    text-align: center;
}
.des{
    color: black;
    font-style: italic;
    text-align: center;
}
.logo{
    width: 7.5rem;
    height: 7.5rem;
}
section{
    padding: 7.5rem 0;
}
h2{
    padding-top: 0 !important;
}
h3,h5{
    font-weight: 400;
    text-align: center;
}
.container{
    display: grid;
}
.col{
    text-align: center;
    padding: 1.25rem 0 0 0.313rem;
}
.the_link, .the_web{
    cursor: pointer;
}
#logo{
    height: 6.563rem;
}