@media (max-width: 80.313rem) {
    .Home_Link {
        margin-left: 6%;
        margin-right: 35%;
    }

    .Links-Last {
        margin-right: 4%;
    }
}

@media (max-width: 75.188rem) {
    .Home_Link {
        margin-left: 7%;
        margin-right: 25%;
    }

    .Links-Last {
        margin-right: 5%;
    }
}

@media (max-width: 65.938rem) {
    .Home_Link {
        margin-left: 8%;
        margin-right: 15%;
    }

    .Links-Last {
        margin-right: 6%;
    }
}
@media (max-width: 63.125rem) {
    h2{
        font-size: 1.75rem !important;
    }

    /* MOBILE NAVIGATION */
    .btn-mobile-nav {
        display: block;
        z-index: 9999;
    }

    .header{
        padding: 0 2.4rem;
    }

    .main-nav {
        background-color: rgba(46, 140, 87, 0.9);
        -webkit-backdrop-filter: blur(0.313rem);
        backdrop-filter: blur(0.625rem);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        transform: translateX(100%);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s ease-in;
        /* Hide navigation */
        /* Allows NO transitions at all */
        /* display: none; */
        /* 1) Hide it visually */
        opacity: 0;
        /* 2) Make it unaccessible to mouse and keyboard */
        pointer-events: none;
        /* 3) Hide it from screen readers */
        visibility: hidden;
    }

    .nav-open .main-nav {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        transform: translateX(0);
    }

    .nav-open .icon-mobile-nav[name="close-outline"] {
        display: block;
        color: #f6f600;

    }

    .nav-open .icon-mobile-nav[name="menu-outline"] {
        display: none;
        color: #f6f600;
    }

    .main-nav-list {
        flex-direction: column;
        gap: 4.8rem;
    }

    .main-nav-link:link,
    .main-nav-link:visited {
        font-size: 2rem;
    }

    .Links {
        display: none;
    }

    .Links-Last {
        display: none;
    }

    .Home_Link {
        display: inline;
    }

    .container{
        grid-template-columns: auto !important;
    }

    #content, #contacts, .footer-nav-list{
        text-align: center;
    }
}
@media (max-width: 27.5rem){
    #carouselExample, #carouselExample>div, #carouselExample>div>div{
        width: 13.125rem;
        height: 11.25rem;
    }

    #img-carousel{
        display: none;
    }
}